.size-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 25%);
    height: auto;
    width: 44%;
    margin: 10px auto;
}

a {
    width: 100% ;
}

#partnerImg-card{
    width: 100%;
}

#text-card{
    color: black;
    margin-top: 10px;
    text-align: center;
}

#points-card{
    color: #0094FF;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
}

.outlineCounter-card{
    width: 90%;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background-color: #F5F5F5;
    margin: 7% auto;
}

.counter-card{
    width: 20%;
    height: 8px;
    border-radius: 6px;
    background-color: #4AA18B;
}

@media only screen and (min-width: 1025px){
    .size-card{
        border-radius: 16px;
        height: auto;
        width: 35%;
        margin: 20px auto;
    }
}
