#position-rankingSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2% 0;
    padding: 0 5%;
}

#position-rankingSection:hover{
    cursor: pointer;
    background-color: #F5F5F5;
}

.positionFirst-rankingSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#icon-rankingSection{
    height: 50px;
    padding-left: 5%;
}

#text-rankingSection{
    padding-left: 5%;
}