.BkgSignUp{
    position: absolute;
    top: 0px;
}

.count1{
    width: 2vh;
    height: 2vh;
    background-color: rgba(74, 161, 139, 1);
    border-radius: 100%;
    text-align: center;
    line-height: 15px;
    color: white;
    font-size: 8px;
    z-index: 1;
}
.count2{
    width: 1.5vh;
    height: 1.5vh;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 100%;
    text-align: center;
    line-height: 11px;
    color: white;
    font-size: 8px;
    z-index: 1;
}

.flexcount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.sign{
    position: relative;
    text-align: center;
    font-size: 48px;
    color: rgba(74, 161, 139, 1);
    z-index: 2;
}

.boxemail{
    width: 17rem;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: 1;
    color: rgba(74, 161, 139, 0.5);
    font-size: 22px;
    top: 400px;
    border: none;
    text-align: center;
    box-shadow: rgba(74, 161, 139, 1)0px 5px 4px;
}

.alignboxsign{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.shapesign{
    width:50rem;
    height: 50rem;
    background-color: rgba(74, 161, 139, 1);
    border-radius:100%;
    position: absolute;
    bottom: -650px;
    right: -200px;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 5px 5px 0px;
    z-index: 0;
}

.buttonsign{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    border: none;
    
}

.buttongoogle{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
    margin-top: 150px;
    position: absolute;
    z-index: 1;
    border: none;
    
}

.buttonalign{
    display: flex;
    justify-content: space-around
}

.logogoogle{
    position: relative;
    top: 166px;
    z-index: 2;
}