*{
    box-sizing: border-box;
}


::-webkit-scrollbar {
    height: 0px;
  }

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.map-page3 {
    height: 43rem;
    background-color: #FFFF;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.back3{
    position: absolute;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    top: 5vh;
    left: 5vw;
    text-decoration: none;
    color: #000;
}

.p3{
    position: absolute;
    top: 13vh;
    left: 2vw;
    font-size: 19px;
    padding: 0 4vw 0 4vw;
}

.back3 img{
    scale: 0.8;
}

.scheda3{
    position: absolute;
    display: flex;
    top: 24vh;
    left: 4.8vw;
    width: 90vw;
    height: 55vh;
    background: #000;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.div-qr3{
    position: absolute;
    top: 0vh;
    left: 7.5vw;
    overflow: hidden;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}

.geolocalisation{
    position: absolute;
    top: 80vh;
    left: 3.5vw;
    width: auto;
    height: 5vh;
    line-height: 1px;
    color: rgba(0, 0, 0, 0.132);
    font-weight: 700;
    font-size: 15px;
}





@media screen and (min-width: 992px) {
    
.back3{
    left: 20vw;
}

.p3{
    top: 5.5vh;
    left: 22vw;
    font-size: 20px;
}

.scheda3{
    left: 15.8vw;
    width: 70vw;
    height: 78vh;
    top: 15vh;
    overflow: hidden;
}


.geolocalisation{
    top: 94vh;
    left: 16vw;
}

}