.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

.col-6{
    width: 50%;
}

.section{
    font-style: none;
}

.switch{
    text-align: center;
}

.switchText.active{
    color: white;
}

.section.active {
    background-color: #4AA18B;
}