* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    height: 0px;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home {
    height: 50rem;
    background-color: #FFFF;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}


.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
    z-index: 999999;
    overflow-y: visible;
}

.appPosition-home {
    height: auto;
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    width: 90%;
    height: auto;
    margin: 5% 5% 30% 5%;
    background: #FFFF;
    border-radius: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.points {
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.p {
    height: auto;
    margin: 0;
}

.div-graphic {
    position: absolute;
    top: 14vh;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    justify-content: center;
}


.div-qr {
    position: absolute;
    z-index: 99999;
    padding-top: 95%;
}

.saving {
    background: #F7F7F7;
    width: 90%;
    height: 24vh;
    margin-top: 10%;
    margin-bottom: 30%;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saving p {
    margin-left: 4vw;
}

.slider-maps {
    background: none;
    top: 82vh;
    width: auto;
    height: auto;
    overflow-y: hidden;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
}

.maps {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F5F5F5;
    width: 70vh;
    height: 14vh;
    border-radius: 12px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
    /* overflow-y: hidden; */
    padding: 0 30px;
}

.uno {
    background: #F5F5F5;
    /* width: 64vw; */
    height: 14vh;
    border-radius: 12px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    /* margin-left: 70%; */
    /* overflow-y: hidden; */
    margin-top: -14vh;
}

.due {
    background: #F5F5F5;
    /* width: 64vw; */
    height: 14vh;
    border-radius: 12px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    /* margin-left: 70%; */
    /* overflow-y: hidden; */
    margin-top: -14vh;
}

.tre {
    display: none;
}

.interactive-map {
    margin-left: 0%;
}

.secondMaps-home {
    display: flex;
    flex-direction: column;
}

.maps-p {
    font-size: 14px;
}

.maps-p p {
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.bus-icon {
    display: flex;
    height: auto;
    width: 20vw;
    background: #FFFF;
    flex-direction: row;
    padding: 0;
    border-radius: 5px;
    margin-top: 2%;
}

.bus-icon img {
    margin: 3px;
    padding: 0;
}


.bus-icon p {
    margin: 3px;
    padding: 0;
    font-size: 12px;
}

.large-via {
    display: none;
}


.grafico-co2 {
    /* position: absolute; */
    top: 5vh;
    left: 4vw;
    width: 100vw;
    height: 100vh;
}


@media screen and (min-width: 992px) {
    body {
        overflow-y: scroll;
    }

    .home {
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
        /* padding-bottom: 5%; */
        flex-direction: column;
        align-items: center;
    }

    .background {
        display: flex;
        width: 90%;
        height: auto;
        margin: 5%;
        background: #FFFF;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        padding-top: 10%;
    }

    .div-graphic {
        width: 30%;
        position: absolute;
        margin-top: 10%;
    }

    .points {
        width: auto;
        position: relative;
        top: 50px;
    }

    .div-qr {
        position: absolute;
        padding-top: 32%;
    }

    .saving {
        border-radius: 12px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        margin-bottom: 10%;
    }

    .slider-maps {
        margin: 5% auto;
    }
}