* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    height: 0px;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home {
    height: 50rem;
    background-color: #FFFF;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}


.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
    z-index: 999999;
    overflow-y: visible;
}

.pos-logo {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 2%;
}

.background {
    position: relative;
    display: flex;
    top: 3vh;
    left: 0vw;
    width: 90vw;
    height: 59vh;
    margin: 5%;
    background: #FFFF;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.points {
    position: absolute;
    color: #000;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: -3vh;
    justify-content: center;
    align-items: center;
}

.p {
    margin-top: 15vh;
    margin-bottom: -5px;
    padding-top: 0;
}

.secondo {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;
}

.div-graphic {
    position: absolute;
    display: flex;
    top: 6vh;
    width: 100%;
    height: auto;
    justify-content: center;
}


.div-qr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 29vh;
    left: 0;
    width: auto;
    height: auto;
    z-index: 99999;

}

.saving {
    position: absolute;
    background: #F7F7F7;
    top: 23vh;
    width: 83vw;
    height: 24vh;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.saving p {
    margin-left: 4vw;
}

.slider-maps {
    background: none;
    position: absolute;
    top: 82vh;
    width: 100%;
    height: auto;
    left: 0;
    overflow-y: hidden;
    padding-bottom: 5vh;
}

.maps {
    display: flex;
    background: #F5F5F5;
    width: 64vw;
    height: 14vh;
    border-radius: 12px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
    overflow-y: hidden;
}

.uno {
    margin-left: 73vw;
    margin-top: -14vh;
    background: linear-gradient(#C0E39F, #A6CCB1);
}

.due {
    margin-left: 144vw;
    margin-top: -14vh;
    background: linear-gradient(#C0E39F, #A6CCB1);
}

.tre {
    display: none;
}

.interactive-map {
    position: absolute;
    top: 1.5vh;
    left: 5vw;
}

.maps-p {
    position: absolute;
    display: flex;
    top: 1.5vh;
    left: 7vw;
    flex-direction: column;
    font-size: 14px;
}

.maps-p p {
    margin: 0 0 0 21vw;
    padding: 0;
    line-height: 20px;
}

.bus-icon {
    position: absolute;
    display: flex;
    left: 20vw;
    top: 6vh;
    height: auto;
    width: 20vw;
    background: #FFFF;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.bus-icon img {
    margin: 3px;
    padding: 0;
}


.bus-icon p {
    margin: 3px;
    padding: 0;
    font-size: 12px;
}

.large-via {
    display: none;
}


.grafico-co2 {
    position: absolute;
    top: 5vh;
    left: 4vw;
    width: 100vw;
    height: 100vh;
}















@media screen and (min-width: 992px) {
    body {
        overflow-y: scroll;
    }

    .home {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .background {
        top: -8vh;
        left: 0vw;
        width: 40vw;
        height: 54vh;
        margin: 5%;
        background: #FFFF;
        justify-content: center;
        align-items: center;
        border-radius: 11px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        scale: 0.95;
    }

    .saving {
        width: 35vw;
        height: 20vh;
        border-radius: 12px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        display: flex;
    }

    .slider-maps {
        top: 73vh;
    }

    .maps {
        width: 30vw;
        height: 14vh;
        margin-left: 3%;
    }

    .uno {
        margin-left: 40vw;
        margin-top: -14vh;
        background: linear-gradient(#C0E39F, #A6CCB1);
    }

    .due {
        margin-left: 78vw;
        margin-top: -14vh;
        background: linear-gradient(#C0E39F, #A6CCB1);
    }

    .tre {
        margin-left: 115vw;
        margin-top: -14vh;
        background: linear-gradient(#C0E39F, #A6CCB1);
    }


    .maps-p {
        top: 1.9vh;
        left: -10vw;
    }

    .maps-p p {
        margin: 0 0 0 20vw;
        padding: 0;
        line-height: 20px;
    }

    .bus-icon {
        width: 5vw;
    }


    .bus-icon p {
        margin: 3px;
        padding: 0;
        font-size: 12px;
    }

    .large-via {
        display: block;
    }

    .short-via {
        display: none;
    }

    .saving p {
        margin-left: 1.5vw;
    }

    .tre {
        display: block;
        margin-left: -14vh 0 0 115vw;
        background: linear-gradient(#C0E39F, #A6CCB1);
    }

    .interactive-map {
        top: 2vh;
        left: 4vw;
    }
}