.home {
    height: 53rem;
    background-color: #409576;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    /* border: 1px solid red; */
}

  body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
}

.pos-logo{
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 2%;
}

