[class*="col-"] {
    float: left;
    padding: 0px;
    /* border: 1px solid red; */
}

.body-points{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

.container-points{
    padding-top: 15%;
    margin-bottom: 25%;
}

.qrPosition-points{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 170px;
    right: 5%;
}

.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
}

.row-points{
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 1025px) {
    .row-points{
        width: 30%;

    }

    .container-points{
        width: 100%;
        padding-top: 2%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .positionSwitch-points{
        display: flex;
        justify-content: center;
    }

    .bodyContainer-points{
        padding-top: 100px;
    }
}