.row-points::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    /* border: 1px solid red; */
}

.body-points{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: white;
}

.container-points{
    padding-top: 15%;
    margin-bottom: 25%;
}

.qrPosition-points{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    bottom: 170px;
    right: 5%;
}

.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
}


.row-points{
    display: flex;
    flex-direction: row;
}