.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0px;
    /* border: 1px solid red; */
}

  body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.pos-navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 2%;
    right: 0;
}

.pos-logo{
    display: flex;
    justify-content: center;
    top: 70%;
}

.containerSettings{
    height: auto;
    background-color: #C3C3C3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings{
    background-color: white;
    width: 100%;
    height: 600px;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
}

.userPosition{
    padding-top: 20%;
    padding-bottom: 10%;
}